* {
  font-family: "Roboto";
}

body {
  background: #232323;
  color: white;
}

#content {
  padding: 20px;
}

.bible-text-content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

/* TEXT HEADER SECTION */

.bible-text-header h1 {
  font-weight: 400;
}

.bible-text-header h2 {
  font-size: 18px;
}

.bible-text-header i {
  font-size: 14px;
}

/* TEXT BODY */

.bible-text {
  font-size: 18px;
  letter-spacing: 1px;
}

.bible-text .verse-word {
  display: inline-block;
  cursor: default;
  padding: 3px;
  margin: 8px 0;
}

.bible-text .verse-number {
  font-size: 25px;
}

.bible-text .verse-word:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.bible-text .verse-word[strongnum=""] {
  color: #b7b7b7;
}
.bible-text .verse-word[strongnum=""]:hover {
  background: inherit;
  color: #b7b7b7;
  cursor: default;
}

.bible-text-content select, .bible-text-content button {
  padding: 4px;
  font-size: 15px;
  background: white;
  outline: none;
}

.bible-text-content #gobutton {
  padding: 4px 20px;
}

#debug-strong-info {
  background: white;
  padding: 24px;
  margin: 10px;
  color: black;
  position: sticky;
  top: 0;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  font-weight: 600;
  border: none;
  font-size: 20px;
}
