* {
  font-family: "Roboto";
}

body {
  background: #232323;
  color: white;
}

#content {
  padding: 20px;
}

.bible-text-content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

/* TEXT HEADER SECTION */

.bible-text-header h1 {
  font-weight: 400;
}

.bible-text-header h2 {
  font-size: 18px;
}

.bible-text-header i {
  font-size: 14px;
}

/* TEXT BODY */

.bible-text-book-chapter-verse {
  text-transform: capitalize;
}

.bible-text {
  font-size: 18px;
  letter-spacing: 1px;
}

.bible-text .verse-word {
  display: inline-block;
  cursor: default;
  padding: 3px;
  margin: 8px 0;
}

.bible-text .verse-number {
  font-size: 25px;
}

.bible-text .verse-word:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.bible-text .verse {
  display: block;
}

.bible-text .verse-word[strongnum=""] {
  color: #b7b7b7;
}
.bible-text .verse-word[strongnum=""]:hover {
  background: inherit;
  color: #b7b7b7;
  cursor: default;
}

.bible-text-content {
  min-height: calc(100% - 40px);
}

.bible-text-content select, .bible-text-content button {
  padding: 4px;
  font-size: 15px;
  background: white;
  outline: none;
}



.bible-text-content #gobutton {
  padding: 4px 20px;
  background-color: #a3f3a3;
  border: solid white 3px;
  border-radius: 8px;
  font-weight: 600;
}

#debug-strong-info {
  background: white;
  padding: 24px;
  margin: 10px 0px;
  color: black;
  position: sticky;
  top: 0;
}

#debug-strong-info .strongtext {
  margin-top: 16px;
  font-size: 14px;
}

#debug-strong-info .strongnum {
  font-style: italic;
  font-size: 12px;
}

#debug-strong-info span {
  display: inline-block;
}

#debug-strong-info b {
  text-transform: capitalize;
}

#debug-strong-info .originallanguage {
  margin: 0 8px;
  font-weight: bold;
  font-size: 20px;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  font-weight: 600;
  border: none;
  font-size: 20px;
}






/* bottom thingy */

#currentbookandchapter {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

#currentbookandchapter h1 {
  padding: 5px 10px;
  margin: 0;
  color: black;
  background: white;
  font-size: 18px;
  text-transform: capitalize;
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
