{% load static %}
<!DOCTYPE <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    {% comment %} FONTS {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{% static 'guide/css/guide_page.css' %}" rel="stylesheet">
    <script>
      let CHAPTERNUMBER = "{{ chapter }}";
      let BOOKNAME = "{{ book }}";
      let BIBLEBOOKNAMES = {{ biblebooks|safe }};
      let _BIBLECHAPTERCOUNTS = {{ biblechaptercounts|safe }};
      let CSRFTOKEN = "{% csrf_token %}";

      let BIBLEBOOKS = BIBLEBOOKNAMES.map(function(e, i) {
        return [e, _BIBLECHAPTERCOUNTS[i]]
      });

    </script>
    <script src="{% static 'guide/js/guide_page.js' %}" defer></script>
  </head>
  <body>
    <div id="content">
      <div class="bible-text-content">
        <div class="bible-text-header">
          <h1>Bible Guide</h1>
          <label for="book"></label>
          <select id="book" name="book"></select>

          <label for="chapter"></label>
          <select id="chapter" name="chapter"></select>
          
          <button id="gobutton">Go</button>

          <br />

          
        </div>

        <div class="bible-text-body">
          <div id="debug-strong-info">
            <div id="debug-content"></div>
            <button id="close">X</button>
          </div>
          <select id="bibleversions">
            {% for bibleversion in bibleversions %}
              <option value="{{ bibleversion }}">{{ bibleversion }}</option>
            {% endfor %}
          </select>

          <h1 class="bible-text-book-chapter-verse">{{ book }} {{ chapter }}</h1>
          <p id="bible-text" class="bible-text"></p>
        </div>
      </div>
    </div>
  </body>
</html>
<head></head>
